body {  
  background-color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4em;
  color: #444;
  padding: 0;
  margin: 0;
  text-align: center;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 12px;
}
